{% extends "base.html" %}

{% block title %}Activity Logs{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Activity Logs</h1>
    <a href="/create_activity_log" class="btn btn-primary mt-3">Log New Activity</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Activity Name</th>
                <th scope="col">Duration (minutes)</th>
                <th scope="col">Calories Burned</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">BMI</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for log in activity_logs %}
            <tr>
                <td>{{ log.activity_name }}</td>
                <td>{{ log.duration }}</td>
                <td>{{ "%.2f"|format(log.calories_burned) }}
                <td>{{ log.date }}</td>
                <td>{{ log.time }}</td>
                <td>{{ "%.2f"|format(log.bmi) }}</td>
                <td>
                    <form action="{{ url_for('delete_activity_log', log_id=log['_id']) }}" method="POST" style="display: inline;">
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                    <a href="{{ url_for('update_activity_log', log_id=log['_id']) }}" class="btn btn-warning btn-sm">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}