{% extends 'base.html' %}

{% block title %}Create Ingredient{% endblock %}
{% block content %}
    <div class="container mt-5">
        <h2 class="text-center">Create Ingredient</h2>
        <form action="/create_ingredient" method="POST">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="calories_per_gm">Calories per Gram</label>
                <input type="number" class="form-control" id="calories_per_gm" name="calories_per_gm" step="0.01" required>
            </div>
            <br>            
            <button type="submit" class="btn btn-primary btn-block">Create</button>
        </form>
    </div>
    <br>
{% endblock %}
