{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">Dashboard</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Welcome, {{ session['username'] }}!</h5>
                        <p class="card-text">Here's a quick overview of your progress and activities.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Activities</h5>
                                <p class="card-text">Review different daily activities.</p>
                                <a href="/activities" class="btn btn-primary">Manage Activities</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Activity Log</h5>
                                <p class="card-text">Keep track of your activities.</p>
                                <a href="/activities_log" class="btn btn-primary">Manage Activity Log</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Recipes</h5>
                                <p class="card-text">Explore and manage your favorite recipes.</p>
                                <a href="/recipes" class="btn btn-primary">View Recipes</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Meal Log</h5>
                                <p class="card-text">Keep track of your meals.</p>
                                <a href="/meal_log" class="btn btn-primary">Manage Meal Log</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Ingredients</h5>
                                <p class="card-text">Manage your ingredients and nutritional information.</p>
                                <a href="/ingredients" class="btn btn-primary">Manage Ingredients</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Daily Progress Report</h5>
                                <p class="card-text">Monitor your daily progress with detailed reports and charts.</p>
                                <a href="/progress_report" class="btn btn-primary">View Progress Report</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">weekly Progress Report</h5>
                                <p class="card-text">Monitor your progress over the week with detailed reports and charts.</p>
                                <a href="/weekly_progress" class="btn btn-primary">View Progress Report</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Settings</h5>
                                <p class="card-text">Adjust your account and profile settings.</p>
                                <a href="/profile" class="btn btn-primary">Account Settings</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}