{% extends 'base.html' %}
{% block title %}Ingredients{% endblock %}
{% block content %}
    <h1>List of Ingredients</h1>
    <a href="/create_ingredient" class="btn btn-primary mt-3">Create Ingredient</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Ingredient Name</th>
                <th>Calories per Gram</th>
            </tr>
        </thead>
        <tbody>
            {% for ingredient in ingredients %}
            <!-- Example row for an ingredient -->
            <tr>
                <td>{{ ingredient.name }}</td>
                <td>{{ ingredient.calories_per_gm }}</td>
                <td>
                    <form action="{{ url_for('delete_ingredient', ingredient_id=ingredient['_id']) }}" method="POST" style="display: inline;">
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                    <a href="{{ url_for('update_ingredient', ingredient_id=ingredient['_id']) }}" class="btn btn-warning btn-sm">Edit</a>
                </td>
            </tr>
            <!-- Repeat similar rows for other ingredients -->
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}