<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Ingredient</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header class="bg-primary text-white p-3">
        <h1 class="text-center">Welcome to NutriTrack</h1>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="/index">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#recipes">Recipes</a></li>
                        <li class="nav-item"><a class="nav-link" href="#fitness">Fitness</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="/register">Sign Up</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container mt-5">
        <h2 class="text-center">Update Ingredient</h2>
        <form action="{{ url_for('update_ingredient', ingredient_id=ingredient['_id']) }}" method="POST">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" value="{{ ingredient['name'] }}" required>
            </div>
            <div class="form-group">
                <label for="calories_per_gm">Calories per Gram</label>
                <input type="number" class="form-control" id="calories_per_gm" name="calories_per_gm" value="{{ ingredient.calories_per_gm }}" step="0.01" required>
            </div>            
            <button type="submit" class="btn btn-primary btn-block">Create</button>
        </form>        
    </div>
</body>
</html>