{% extends 'base.html' %}
{% block title %}Update Activity{% endblock %}
{% block content %}
    <div class="container mt-5">
        <h2 class="text-center">Update Activity</h2>
        <form action="{{ url_for('update_activity', activity_id=activity['_id']) }}" method="POST">
            <div class="form-group">
                <label for="name">Type</label>
                <input type="text" class="form-control" id="name" name="name" value="{{ activity.name }}" required>
            </div>
            <div class="form-group">
                <label for="met_value">MET Value</label>
                <input type="number" class="form-control" id="met_value" name="met_value" value="{{ activity.met_value }}" step="0.1" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Update</button>
        </form>
    </div>
{% endblock %}