{% extends 'base.html' %}
{% block title %}Update Ingredient{% endblock %}
{% block content %}
    <div class="container mt-5">
        <h2 class="text-center">Update Ingredient</h2>
        <form action="{{ url_for('update_ingredient', ingredient_id=ingredient['_id']) }}" method="POST">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" value="{{ ingredient['name'] }}" required>
            </div>
            <div class="form-group">
                <label for="calories_per_gm">Calories per Gram</label>
                <input type="number" class="form-control" id="calories_per_gm" name="calories_per_gm" value="{{ ingredient.calories_per_gm }}" step="0.01" required>
            </div>            
            <button type="submit" class="btn btn-primary btn-block">Create</button>
        </form>        
    </div>
{% endblock %}